body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    top: 4rem;
    left: 32rem !important;
    z-index: 10;
}

.carousel-item {
    height: 35rem;
    background-color: #777;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* Carousel end */

.bg-orange {
    background-color: #ff6a22;
}

.header-searchbar {
    border-radius: 50px !important;
    border: none !important;
    outline: none !important;
    text-indent: 30px;
}

.orange-navbar {
    padding-left: 13em !important;
    padding-right: 13em !important;
}

.white-navbar,
#img-carousel {
    padding-left: 15em !important;
    padding-right: 15em !important;
}

.white-navbar button {
    background-color: #ff6a22;
    color: #fff;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.white-navbar .nav-link:hover {
    color: #ff6a22 !important
}

.banner-italic {
    color: #b1ee58;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 0px !important;
}

.banner-h1 {
    margin-top: 5px;
    color: #fff;
    font-size: 4rem !important;
    margin-bottom: 0.5rem;
}

.banner-h3 {
    color: #b1ee58;
    font-size: 2rem !important;
}

.banner-button {
    background-color: #ff6a22;
    color: #fff;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 3em;
}

.banner-button:hover {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .orange-navbar {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .white-navbar {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    #img-carousel {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .carousel-item {
        height: 12rem;
        background-color: #777;
    }
    .carousel-item>img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 60%;
        height: auto;
    }
    .carousel-caption {
        bottom: 0rem;
        top: 0rem;
        left: 12rem !important;
        z-index: 10;
    }
    .banner-italic {
        color: #b1ee58;
        font-size: 1rem;
        font-style: italic;
        margin-bottom: 0px !important;
    }
    .banner-h1 {
        margin-top: 5px;
        color: #fff;
        font-size: 1rem !important;
        margin-bottom: 0.5rem;
    }
    .banner-h3 {
        color: #b1ee58;
        font-size: 1rem !important;
        margin-bottom: 0em;
    }
    .banner-button {
        background-color: #ff6a22;
        color: #fff;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        border: none;
        outline: none;
        border-radius: 50px;
        font-weight: bold;
        margin-top: 1em;
        font-size: 13px;
    }
    .carousel-indicators {
        display: none !important;
    }
}